doctype html
html.no-js
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='css/main.css')
        script(src='js/vendor/modernizr-2.7.1.min.js')
    body


        header
            | This is a header.

        nav
            | This is a navigation.

        main
            p Hello world 4! This is HTML5 Boilerplate.

            p.motion Motion!


            h1 Nadpis 1
            h2 Nadpis 2
            h3 Nadpis 3
            h4 Nadpis 4
            h5 Nadpis 5

            ul.words
              li Feei
              li Fi
              li Fo
              li Fumi
            p are some words of giants.

            #box-of-text    
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        footer
            | This is a footer.

            .simon


        script(src='js/plugins.js')
        script(src='js/main.js')